.containerfooter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #2029AD;
    height: 250px;
    margin-top: 70px;
}
.logoFooter{
    margin-left: 70px;
    display: flex;
    align-items: center;
}

.containerfooter h1{
    font-size: 20px;
    color: white;
}

.redesocial h1{
    margin-top: 10px;
    margin-right: 30px;
}
.redesocial ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin:80px 70px 0px 70px;
    
}
.redesocial li{
    margin-left: 5px;
    
}
ul a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.sac h1{
    margin-top: 10px;
}
.sac ul{
    color: white;
}

.pagamento h1{
    margin-top: 10px;
}
.pagamento ul{
    color: white;
}