@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2029AD;
    height: 100px;
}
.logo{
    margin-left: 70px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 70px;
    font-family: 'Fugaz One', sans-serif;
    
}

.link{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.link:hover{
    text-decoration: underline;
}